@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="projectWork">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="1056403495788-b4nt2enp8eekv1bvgmn1dsvbe3284vtu.apps.googleusercontent.com">
    <meta name="google-signin-scope" content="profile email">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Project Work</title>
    <base href="/ProjectWork/ProjectWork">
     @Styles.Render("~/Content/css")
     @Scripts.Render("~/bundles/ThirdParty/modernizr")
  
</head>
<body ng-controller="rootCtrl">
    <top-bar></top-bar>
    <div class="row-offcanvas row-offcanvas-left">
        <side-bar></side-bar>
        <div id="main" style="background-color:#fff;border-left-style: solid;border-left-color:#e7a61a">
            <div class="col-md-12">
                <p class="visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
                </p>
                <div class="page {{ pageClass }}" ng-view></div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/ThirdParty")
    @Scripts.Render("~/bundles/Application")
</body>
</html>




@*@section SPAViews {
        @Html.Partial("_Home")
    }
    @section Scripts{
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/app")
    }*@

